<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--evitar ataques de Cross Site Scripting (injeção de dados)-->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline'">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <title>Cadastro de Cliente</title>
    
</head>
<body class="bg-dark">
    <main class="container">
    <h1 class="text-center text-light m-3">Cadastro de Cliente, Fornecedores e Produto</h1>
       
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <button class="col-3 me-4 align-items-center btn btn-outline-light d-flex flex-column mt-5" onclick="cadastro()"><img src="../public/img/Cliente.png" alt="Novo cliente">Novo Cliente</button>
        <button class="col-3 ms-4 align-items-center btn btn-outline-light d-flex flex-column mt-5" onclick="relatorio()"><img src="../public/img/Relatorio.png" alt="Relatorio">Relatorio do Cliente</button>
    </div>
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <button class="col-3 ms-4 align-items-center btn btn-outline-light d-flex flex-column mt-5" onclick="fornecedor()"><img src="../public/img/Fornecedores.png" alt="Fornecedores">Fornecedores</button>
        <button class="col-3 ms-4 align-items-center btn btn-outline-light d-flex flex-column mt-5" onclick="relatorioFornecedor()"><img src="../public/img/RelatorioFornecedores.png" alt="Relatorio do Fornecedor">Relatorio do Fornecedor</button>
    </div>
    <div class="container-fluid d-flex align-items-center justify-content-center">
        <button class="col-3 ms-4 align-items-center btn btn-outline-light d-flex flex-column mt-5" onclick="produtos()"><img src="../public/img/Fornecedores.png" alt="Produtos">Produtos</button>
        <button class="col-3 ms-4 align-items-center btn btn-outline-light d-flex flex-column mt-5" onclick="relatorioProdutos()"><img src="../public/img/RelatorioFornecedores.png" alt="Relatorio do Fornecedor">Relatorio de Produtos</button>
    </div>


    
</main>
    <body>
        
    </body>
    <footer><p id="data" class="mt-3"></p><img src="../public/img/DB-ON.png" alt="Banco da dados" id="status" class="img-fluid"></footer>
    <script src="../public/js/janela2/renderer.js"></script>
    <script src="../public/js/janela1/renderer.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>